@{
    ViewData["Title"] = "Aplicativo de exemplo";
}

<div class="jumbotron">
  <h1>Olá Mundo!</h1>
  <p>Esta é uma aplicação de exemplo, criada para ser utilizado no curso de JMeter do Treinaweb</p>
  <p><a class="btn btn-primary btn-lg" href="//treinaweb.com.br" role="button">Conheça a Treinaweb</a></p>
</div>
